/* universal selector */
* {
    box-sizing: border-box;
}
/* element selectors */
body {
    background-color: #444647;
    background-image: linear-gradient(315deg, #12397c 0%, #a2ecec 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
    margin: 5vh;
}
button {
    margin: 3px;
    padding: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
#cityInput, #cityName, #inputCpntainer {
    margin: 3px;
    padding: 4px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
#weatherContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid black;
    border-radius: 10px;
}
#iconContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 1200px;
}
.icons {
    display: inline-block;
    text-align: center;
        /* float: left; */
    height: 200px;
    width: 215px;
    margin: 10px;
    /* border: 5px solid teal; */
    border-radius: 10px;
}
.image {
    height: 140px;
    width: 100%;
}
.imgClass {
    height: 120px;
    width: 85px;
}
.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.tempvalues, .humidityvalues, .windvalues {
text-align: center;
display: inline-block;
border-radius: 5px;
height: 25px;
width: 85px;
margin-top: 5px;
margin-bottom: 5px;
}
